@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #b1c46c, #93ad18);
}
.App .main-container {
  padding: 2em;
  display: flex;
  justify-content: center;
}
.App button {
  cursor: pointer;
}
.App label {
  display: block;
}
.App .light-theme {
  background-color: #efefef;
}
.App .light-content {
  color: #5a6f08;
}
.App .dark-theme {
  background-color: #2b2b2b;
}
.App .dark-content {
  color: #d4d4d4;
}
