.new-employee-container .new-employee-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 3em;
  border-radius: 0.3em;
  box-shadow: 0px 0px 5px 0.1px black;
}
.new-employee-container .new-employee-section .new-employee-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.new-employee-container .new-employee-section .new-employee-form .information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 1.5em;
  border-radius: 0.15em;
  border: 1px solid rgba(0, 0, 0, 0.3137254902);
  background-color: #b1c46c;
}
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control {
  max-width: 180px;
}
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control input,
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control .form-select,
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control button {
  background-color: white !important;
  border-radius: 0.2em;
  box-shadow: 0px 0px 1px 0px black;
}
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control input .MuiSelect-select,
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control .form-select .MuiSelect-select,
.new-employee-container .new-employee-section .new-employee-form .information-container .form-control button .MuiSelect-select {
  background-color: white;
}
.new-employee-container .new-employee-section .new-employee-form .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.new-employee-container .new-employee-section .new-employee-form .button-container .button-form {
  background-color: #b1c46c;
  border: 0.5px solid rgba(0, 0, 0, 0.2509803922);
  width: 120px;
  padding: 0.5em 1.5em;
}
