@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  scroll-behavior: smooth;
  .main-container {
    padding: 2em;
    display: flex;
    justify-content: center;
  }
}
