@import "color.scss";

@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald-Regular.ttf");
  font-display: swap;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, $Second-color, $Primary-color);
  .main-container {
    padding: 2em;
    display: flex;
    justify-content: center;
  }
  button {
    cursor: pointer;
  }
  label {
    display: block;
  }
  .light-theme {
    background-color: $Light-Background;
  }
  .light-content {
    color: $Light-Content;
  }
  .dark-theme {
    background-color: $Dark-Background;
  }
  .dark-content {
    color: $Dark-Content;
  }
}
